<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Événements à venir</title>
</head>
<body>
    <h1>Liste des événements à venir</h1>
    {% if evenements %}
        <ul>
            {% for event in evenements %}
                <li>
                    <strong>{{ event.title }}</strong><br>
                    Lieu : {{ event.location }}<br>
                    Du {{ event.start_time|date:"d/m/Y H:i" }} au {{ event.end_time|date:"d/m/Y H:i" }}<br>
                    Catégorie : {{ event.category }}<br>
                    <p>{{ event.description }}</p>

                    <strong><a href="{% url 'detail_evenement' event.id %}">{{ event.title }}</a></strong>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun événement à venir.</p>
    {% endif %}


</body>
</html>